= simple_form_for @problem do |f|

  = f.error_notification

  = f.input :name,
    placeholder: "Enter your problem's name here"

  = f.input :language,
    collection: [:python, :java, :ruby, :clang, :haskell],
    prompt: "Choose a language"

  = f.input :difficulty,
    collection: 1..5,
    prompt: "Choose a difficulty"

  = f.input :description,
    as: :text,
    placeholder: 'Enter a short one sentence description',
    input_html: { maxlength: 140 }

  = f.input :body,
    as: :text,
    placeholder: 'Markdown supported'

  = f.input :time_limit,
    as: :integer,
    placeholder: 'Enter a time limit in minutes'

  = f.button :submit

