.container
  .row
    .page-header
      %h2
        Problems
        %small All
    -if policy(Problem).new?
      = button_to 'Create a New Problem', new_problem_path, method: :get, class: 'btn btn-sm btn-primary'

    %div.table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Description
            %th Language
            %th Difficulty
        %tbody
          - @problems.each do |problem|
            %tr
              %td= link_to problem.name, problem
              %td= problem.description
              %td= problem.language
              %td= problem.difficulty
              %td=button_to 'Attempts', problem_attempts_path(problem.id), method: :get, class: 'btn btn-xs btn-default'
              - if policy(User).edit?
                %td= button_to 'Edit', edit_problem_path(problem.id), method: :get, class: 'btn btn-xs btn-primary'
              - if policy(User).destroy?
                %td= button_to 'Delete', problem_path(problem.id), method: :delete, :data => {:confirm => 'Are you sure?'}, class: 'btn btn-xs btn-danger'


