.container
  .row
    %h2
      Problems
      %small All
    %p= link_to "Create a new problem", new_problem_path

    %div.table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Description
            %th Language
            %th Difficulty
        %tbody
          - @problems.each do |problem|
            %tr
              %td= link_to problem.name, problem
              %td= problem.description
              %td= problem.language
              %td= problem.difficulty
