- breadcrumb :problem, @problem
.page-header
  %h2
    = @problem.name
    - if @problem.language
      %span.label.label-default
        = @problem.language
    %small.pull-right
      = "Posted by #{@problem.user.name}"

.row
  .col-xs-4.col-md-4
    = button_to "Submit an Attempt", new_problem_attempt_path(@problem.id), method: :get, class: 'btn btn-lg btn-primary'
  .col-xs-4.col-md-4
    = button_to 'Show Attempts', problem_attempts_path(@problem.id), method: :get, class: 'btn btn-lg btn-default'
  .col-xs-4.col-md-4
    - if policy(@problem).edit?
      = button_to 'Edit Problem', edit_problem_path(@problem.id), method: :get, class: 'btn btn-lg btn-warning'

.row
  - if @problem
    %h3
      Difficulty
      %small= @problem.difficulty
    %h3
      Description
      %small= @problem.description
    %h3
      Author
      %small= link_to @problem.user.name, user_path(@problem.user_id)
  - else
    %h3 No Problem Found!

  
