.container
  - breadcrumb :problem, @problem
  .page-header
    %h2 View Problem
    %p.lead= @problem.name
  .row
    .col-lg-4
      .well
        - if @problem
          %h3 Name
          %p= @problem.name
          %h3 Difficulty
          %p= @problem.difficulty
          %h3 Description
          %p= @problem.description
          %h3 Author
          %p= link_to @problem.user.name, user_path(@problem.user_id)
          - unless @problem.language.blank?
            %h3 Language
            %p= @problem.language if @problem.language
        - else
          %h3 No Problem Found!

    .col-lg-8
      - if policy(@problem).edit?
        %p= button_to 'Edit', edit_problem_path(@problem.id), method: :get, class: 'btn btn-xs btn-primary'
        %p= button_to 'Attempts', problem_attempts_path(@problem.id), method: :get, class: 'btn btn-xs btn-default'

      - if current_user.student?
        %p= link_to "Submit an Attempt", new_problem_attempt_path(@problem.id)
