%h3 Problem
%p
  Problem: #{@problem.name if @problem}
  %br
  Difficulty: #{@problem.difficulty if @problem}
  %br
  Description: #{@problem.description if @problem}
  %br
  Author: #{@problem.user.name if @problem}
%p= link_to "Submit an Attempt", new_problem_attempt_path(@problem.id)
%p= link_to "View Attempts", problem_attempts_path(@problem.id)
%p= link_to "Return to all problems", problems_path(@problem.id)

