- breadcrumb :users
.row
  .page-header
    %h2
      Users
      %span.label.label-default All
  %div.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Role
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user

            - if policy(User).update?
              %td
                = form_for(user) do |f|
                  = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
                  = f.submit 'Change Role', class: 'btn btn-primary btn-xs'
            - else
              %td= user.role.titleize unless user.role.blank?

            - if policy(User).destroy?
              %td= button_to('Delete User',
                user_path(user),
                :data => { :confirm => "Are you sure?" },
                :method => :delete, :class => 'btn btn-danger btn-xs') unless user == current_user

