- breadcrumb :user, @user
.page-header
  %h2
    =@user.name
    - if @user.admin?
      %span.label.label-danger= @user.role.titleize
    - elsif @user.student?
      %span.label.label-success= @user.role.titleize
    - elsif @user.alum?
      %span.label.label-default= @user.role.titleize
    - elsif @user.prof?
      %span.label.label-info= @user.role.titleize

.panel.panel-default
  .panel-heading
    .panel-title Info:
  .panel-body
    .table.table-striped
      %tbody
        %tr
          %td Email:
          %td= @user.email ? @user.email : 'Not Available'
                  
