.container
  .page-header
    %h2= "Grade user attempt"
    %p.lead= "User #{@attempt.user_id}'s attempt for problem '#{@problem.name}'"
  %p
    Problem: #{@problem.name if @problem}
    %br
    Difficulty: #{@problem.difficulty if @problem}
    %br
    Description: #{@problem.description if @problem}
    %br= "Language: " + @problem.language if @problem.language
  %p
    Submission: #{@attempt.submission if @attempt}
  %p  
    =form_for [@problem, @attempt] do |f|
      %br
      =f.label :grade
      =f.number_field :grade, :required => true, in: 0..10
      %br
      =f.submit "Update Grade"

    %p= link_to "Back to the attempt", problem_attempt_path(@attempt.problem_id, @attempt.id)
