.container
  .page-header
    %h2= "Grade user attempt"
    %p.lead= "User #{@attempt.user_id}'s attempt for problem '#{@problem.name}'"
  %p
    Problem: #{@problem.name if @problem}
    %br
    Difficulty: #{@problem.difficulty if @problem}
    %br
    Description: #{@problem.description if @problem}
    %br= "Language: " + @problem.language if @problem.language
  %p

  = render partial: 'attempt_form'
  %p= link_to "Back to the attempt", problem_attempt_path(@attempt.problem_id, @attempt.id)
