.container
  - breadcrumb :attempts, @problem
  .row
    .page-header
      %h2
        Attempts
        %small=@problem.name

    - if @attempts.empty?
      %h4 No attempts yet!
    - else
      %div.table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Author
              %th Attempt
              %th Grade
          %tbody
            - @attempts.each do |attempt|
              %tr
                %td= link_to attempt.user.name, user_path(attempt.user_id)
                %td= link_to attempt.submission.slice(0,20) + "...", problem_attempt_path(attempt.problem_id, attempt.id)
                - if attempt.grade == -1
                  - if policy(attempt).edit?
                    %td= button_to 'Grade attempt', edit_problem_attempt_path(attempt.problem_id, attempt.id), method: :get, class: 'btn btn-xs btn-primary'
                  - else
                    %td= attempt.show_grade
                - else
                  %td= attempt.show_grade
