.container
  .row
    .page-header
      %h2
        Attempts
        %small All

    - if @attempts.empty?
      %h4 No attempts yet!
    - else
      %div.table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Author
              %th Problem
              %th Attempt
              %th Grade
          %tbody
            - @attempts.each do |attempt|
              %tr
                %td= link_to attempt.user.name, user_path(attempt.user_id)
                %td= 'problem name here'
                %td= link_to attempt.submission.slice(0,20) + "...", problem_attempt_path(attempt.problem_id, attempt.id)
                %td= link_to attempt.show_grade, edit_problem_attempt_path(attempt.problem_id, attempt.id) 

    %p= link_to "Back to the problem", problem_path(@problem.id)
