!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= content_for?(:title) ? yield(:title) : 'Project'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Project'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = breadcrumbs style: :bootstrap
      = render 'layouts/messages'
      = yield
